body{
    background-color: #f4ebc1;
    margin: 0;
}

p{
    line-height: 23px;
}

.headline{
    
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size: 190%;
    color: #07031a;
}

.top-cloud{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 150px;

}

a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #d92027;
}

a:hover{
    color: #e8e4e1;
}

.bottom-cloud{
    margin: 18px auto;
    position: relative;
    right: 210px;
}

.mountain{
    display: block;
    margin: 10px auto;
    text-align: center;
}

.middle-container{
    margin: 0 auto;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 140%;
    color: #709fb0;
    text-align: center;

}

.bottom-container{
    background-color: #ea907a;
    text-align: center;
    margin: 20px auto 0 auto;
    color: #07031a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none brown;
    padding-bottom: 50px;
    padding-top: 50px;
}

.propic{
    max-width: 15%;
    max-height: 15%;
    margin: 0 auto;
    padding-top: 50px;
}

.greet{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 250%;
    color: #726a95;
    width: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.namee{
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    margin: 10px auto 0 auto;
}

hr{
    border: dotted;
    border-width: 10px;
    border-bottom: 0;
    margin: 15px auto;
    max-width: 20px;
}

.greet2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    color: #4f8a8b;
    width: auto;
    text-align: center;
    margin: 0 auto 20px auto;
    padding-top: 10px;
}

.skil1{
    max-width: 8%;
    max-height: 8%;
    margin: 0 auto;
    float: left;
    padding-right: 10px;
    position: relative;
    right: 10px;
}

.skil2{
    max-width: 8%;
    max-height: 8%;
    margin: 0 auto;
    float: right;
    padding-left: 10px;
    text-align: right;
    position: relative;
    right: 760px;
}

.skill-row{
    padding: 10px auto;
    margin: 10px auto;
    text-align: left;
}

.bigt{
    color: #190e4e;
    margin: 0 auto;
    text-align: left;
}

.skill-row2{
    padding: 10px auto;
    margin: 10px auto;
    text-align: left;
    position: relative;
    left: 400px;
}

.btn{
    padding: 10px;
    background-color: #f3c623;
    color: #190e4e;
    text-decoration: none;
    border-radius: 10px;
    border-color: antiquewhite;
    border-width: 3px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
}

.btn:hover{
    padding: 10px;
    background-color: #79d70f;
    color: #d32626;
    text-decoration: none;
    border-radius: 10px;
    border-color: antiquewhite;
    border-width: 3px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
}

.hi{
    padding-top: 20px;
}

.profile{
    padding-bottom: 30px;
}

.skills{
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}


.skill1{
    position: relative;
    left: 400px;
}

.greet3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    color: #4f8a8b;
    width: auto;
    text-align: center;
    margin: 0 auto 20px auto;
    padding-top: 50px;
}

.contact-me{
    padding-bottom: 50px;
}