html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #f7c5a8;
}
.image-brand{
    margin-right: 3%;
}

.brand-name{
    display: inline-block;
    font-family: 'Leckerli One', cursive;
    font-size: 130%;
    padding-top: 2px;
    padding-bottom: 0;
}
.nav-item{
    font-size: 120%;
}
nav{
    padding-top: 0;
    padding-bottom: 0;
}
footer{
    padding-top: 2%;
    padding-bottom: 3%;
    background: #FFF4B8;
    text-align: center;
}
.blogs{
    text-align: center;
    background-color: #f7c5a8;
}
.blog-head{
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    padding: 7% 0;
}
.blog-img{
    width: 25rem;
    border-radius: 10%;
    padding: 0;
    border: solid 7px;
    border-color: black;
}
.blog-title{
    color: #c70039;
    padding-top: 2%;
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    padding-bottom: 7%;
}
.blog-link{
    text-decoration: none;
}
.blog-link:hover{
    text-decoration: none;
}